<div class="wrapper">
  <div class="side_bar">
    <div class="head_side_bar">
      <div class="under_side_bar">
  <%= render "side_bar" %>
      </div>
    </div>
  </div>
  <div class="chat">

  <%= render "main_chat" %>
  </div>
</div>